@charset "utf-8";
html,body,div,p,span,ul,li,ol,dl,dd,dt,input,a{margin: 0;padding: 0;}
li{list-style:none;}
a{text-decoration:none;color: #000;}
.w1190{width: 1190px;margin: 0 auto;}
.le{float:left;}
.ri{float:right;}
i{font-style:normal;}
